<form [formGroup]="form" [(ngModel)]="selectedCurrencies"  (ngModelChange)="onCheckboxChange()" >
  <label for="usd">
    <input type="checkbox" id="usd" formControlName="usd" name="usd" checked> USD
  </label>

  <label for="eur">
    <input type="checkbox" id="eur" formControlName="eur" name="eur"> EUR
  </label>
</form>

<select [(ngModel)]="selectedPeriod" (ngModelChange)="onPeriodChange()">
  <option value="year">Year</option>
  <option value="month">Month</option>
  <option value="week"  selected>Week</option>
</select>
<div [chart]="chart"></div>
